.image-container {
    position: relative;
  }

  .bottom-text {
    font-size: 24px;
    font-weight: lighter;
  }
  
  .overlay-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 100%;
    padding: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    font-family: Figtree;
    font-weight: bold;
    font-size: 90;
  }

  .top-text{
    top: 5%;
  }
  
  .top-text h1{
    font-size: 90px;
    font-weight: bold;
  }
  
  .bottom-text {
    bottom:10%;
  }

  p{
    margin-bottom: 0;
  }

  .text-msg{
    color: #b94c99;
    font-size: 24px;
    font-weight: lighter;
  }

  .btn-outline-primary{
    background: var(--unnamed-color-0e000b) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-b94c99);
    background: #0E000B 0% 0% no-repeat padding-box;
    border: 1px solid #B94C99;
    border-radius: 20px;
    opacity: 1;
    color: aliceblue;
  }

    .btn-outline-secondary {
      background: var(--unnamed-color-0e000b) 0% 0% no-repeat padding-box;
      border: 1px solid var(--unnamed-color-b94c99);
      background: #0E000B 0% 0% no-repeat padding-box;
      border: 1px solid #B94C99;
      border-radius: 20px;
      opacity: 1;
      color: aliceblue;
    }

 

    