.S4pink-text{
    font-size: 24px;
    font-family: "Figtree", sans-serif;
}

.S4heading-1{
  font-size: 14px;
}

.S4heading-2{
  font-size: 60px;
}

.S4heading-3{
    font-family: "Figtree", sans-serif;
    font-size: 36px;
}