  .instruction-section {
    overflow: hidden;
  }
  
  .img-reaveal1 img {
    max-width: 100%;
    height: auto;
    max-height: 100vh;
    filter:grayscale()
  }
  
  .step-inner {
    background: #000;
    padding: 20px 30px 40px;
    border-radius: 12px;
    color: #fff;
  }
  .step-count {
    width: 55px;
    height: 55px;
    margin: 0 auto;
    background: #000;
    display: flex
  ;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
  
  }
  
  .instruc-step1 .step-count{
    margin-top: -27px;
  }
  
  .instruc-step2 .step-count{
    margin-left: -27px;
  }
  
  .instruc-step2 {
    top: 51%;
    left: 1%;
  }
  
  .instruc-step3 {
    top: 51%;
    right: 1%;
  }
  
  .instruc-step2 .step-inner, .instruc-step3 .step-inner{
    width: 95%;
    padding: 30px;
  }
  
  .instruc-step1 {
    top: 8% !important;
  }