.section8-text {
    color: aliceblue;
    height: 50px;
    font-size: 18px;
}


.section8-title {
    color: aliceblue;
}

.box {
    background: var(--unnamed-color-0e000b) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-b94c99);
    background: #0E000B 0% 0% no-repeat padding-box;
    border: 1px solid #B94C99;
    border-radius: 20px;
    opacity: 1;
    font-size: 14px;
    padding: 9px 20px !important;
}